body{
background-color: #f0ebf8;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form-container {
height: 1100px;
width: 600px;
}
.required {
font-size: 13px;
color: red;
}
.form-title{
height: 540px;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
border-top: 10px solid #6703c4;
padding: 25px;
margin-left: 400px;
}
.name-title{
height: 75px;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}  
.name-title input{
  box-shadow: 0px 1px 0px 0px;
  border: white;
}
.phno-title{
height: 75px;
width: 600px;
background-color: #FDFEFE;
	margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.phno-title input{
  box-shadow: 0px 1px 0px 0px;
  border: white;
}
.email-title{
height: 75px;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.email-title input{
box-shadow: 0px 1px 0px 0px;
border:white;
}
.year-title{
height: 115px;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.identify-title{
height: 200x;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.options-title{
height: 270x;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.web-title{
height: 270x;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.learn-title{
height: 100px;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.learn-title input{
box-shadow: 0px 1px 0px 0px;
border: white;
}
.sideproj-title{
height: 275x;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.help-title{
height: 200x;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
 border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.fav-title{
height: 100px;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.fav-title input{
box-shadow: 0px 1px 0px 0px;
border: white;
}
.personal-title{
height: 75px;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.personal-title input{
box-shadow: 0px 1px 0px 0px;
border: white;
}
.unique-title{
height: 100px;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.unique-title input{
box-shadow: 0px 1px 0px 0px;
border: white;
}
.linkdin-title{
height: 75px;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.linkdin-title input{
box-shadow: 0px 1px 0px 0px;
border: white;
}
.linkdinskills-title{
height: 100px;
width: 600px;
background-color: #FDFEFE;
margin: 15px;
border-radius: 8px;
padding: 25px;
margin-left: 400px;
}
.linkdinskills-title input{
box-shadow: 0px 1px 0px 0px;
border: white;
}
.button{
height: 45px;
width: 600px;
background-color: #f0ebf8;
margin: 15px;
border-radius: 8px;
padding: 0px;
padding-left: 25px;
margin-left: 400px;
display: flex;
}
.button-title{
background-color: #f0ebf8;
}
.button-title button{
width: 99px;
height: 45px;
background-color:white ;
font-size:17px ;
font-weight: 100;
border-radius: 4px;
border: white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
color: #673ab7;
.button: :hover;
}
.clear-title{
background-color:#f0ebf8;
margin-left: 425px;
}
.clear-title a{
width:150px;
}
footer{
text-align: center;
background-color: #f0ebf8;
display: inline-block;
height: 180px;
width: 800px;
margin: 15px;
border-radius: 8px;
padding: 0px;
padding-left: 45px;
margin-left: 275px;
}
.icon{
  display: grid;
  grid-template-columns: 20% 80%;
  width:152px;
  justify-content: center;
  align-items: center;
}
#cloud{
  margin-left: 550px;
  position: absolute;
  top:442px;
}